body > header {
    background-color: rgba(54, 54, 54, 0.459);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header nav {
    font-size: 22px;
    margin-right: 10px;
}

a {
    font-weight: bold;
}

.container {
    margin: 0 auto;
    width: 100%;
}

li{ 
    display: block;
    display: inline;

}
article, h1, header{
    font-family:Arial, Helvetica, sans-serif;
}

.sports {
    background-color: rgba(0, 235, 78, 0.103);
    padding: 1%;
}

.economy {
    background-color: rgba(255, 217, 0, 0.151);
    padding: 1%;
}

.entreteniment {
    background-color: rgba(0, 119, 255, 0.356);
    padding: 1%;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-left: 2%;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 0%;
    padding-left: 1%;
    padding-top: 1%;
}

h3 {
    font-size: 20px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    height: 240px;
}
.articles article {
    width: 30%;
    margin-bottom: 2%;
}

.articles article a:hover {
    text-decoration:underline;
}

.sports a {
    background-color:green;
    padding: 10px;
    color: white;
    display: inline-block;
    text-decoration: none;
    
}
.economy a{
    background-color: rgba(255, 68, 0, 0.452);
    color: white;
    padding: 10px;
    text-decoration: none;

}

.entreteniment a{
    background-color: aquamarine;
    color: black;
    padding: 10px;
    text-decoration: none;

}
